In [42]:
# Initial Imports
import pandas as pd
from pathlib import Path
import numpy as np
import datetime as dt
import time
import os

In [43]:
# Loading csv path data into Pandas using read_csv

crypto_tmc_path = Path("./crypto_tmc.csv")
crypto_tmc_data = pd.read_csv(crypto_tmc_path, index_col="date", infer_datetime_format=True, parse_dates=True)

In [44]:
# Generate sample data
crypto_tmc_data.head(-5)

,open,high,low,close,MA,MA.1,Volume,Volume MA,OnBalanceVolume,RSI
date,,,,,,,,,,
2014-03-19,7.734802e+09,7.869879e+09,7.623081e+09,7.700141e+09,NaN,NaN,8.512398e+06,NaN,-5.092772e+07,57.701674
2014-03-20,7.688016e+09,7.704364e+09,7.290326e+09,7.378310e+09,NaN,NaN,8.512398e+06,1.795850e+07,-5.944012e+07,50.721708
2014-03-21,7.380354e+09,7.667154e+09,7.002819e+09,7.179603e+09,NaN,NaN,8.512398e+06,1.610091e+07,-6.795252e+07,46.945709
2014-03-22,7.180253e+09,7.210748e+09,6.808422e+09,7.125488e+09,NaN,NaN,8.512398e+06,1.569530e+07,-7.646491e+07,45.942620
2014-03-23,7.131450e+09,7.197064e+09,7.034979e+09,7.105506e+09,NaN,NaN,2.242890e+07,1.598551e+07,-9.889381e+07,45.555550
...,...,...,...,...,...,...,...,...,...,...
2021-12-27,2.400000e+12,2.490000e+12,2.370000e+12,2.400000e+12,NaN,2.460000e+12,1.390000e+11,1.690000e+11,1.830000e+13,54.834937
2021-12-28,2.390000e+12,2.410000e+12,2.210000e+12,2.250000e+12,NaN,2.440000e+12,1.880000e+11,1.690000e+11,1.810000e+13,44.208226
2021-12-29,2.240000e+12,2.290000e+12,2.150000e+12,2.190000e+12,NaN,2.430000e+12,1.600000e+11,1.680000e+11,1.790000e+13,40.901101
2021-12-30,2.190000e+12,2.270000e+12,2.140000e+12,2.220000e+12,NaN,2.420000e+12,1.390000e+11,1.660000e+11,1.810000e+13,43.146546
2021-12-31,2.220000e+12,2.300000e+12,2.130000e+12,2.180000e+12,NaN,2.410000e+12,1.590000e+11,1.670000e+11,1.790000e+13,41.103827

In [49]:
# Select only relevant columns

crypto = crypto_tmc_data['close']
crypto.head(-5)

date
2014-03-19    7.700141e+09
2014-03-20    7.378310e+09
2014-03-21    7.179603e+09
2014-03-22    7.125488e+09
2014-03-23    7.105506e+09
                  ...
2021-12-27    2.400000e+12
2021-12-28    2.250000e+12
2021-12-29    2.190000e+12
2021-12-30    2.220000e+12
2021-12-31    2.180000e+12
Name: close, Length: 2839, dtype: float64

In [51]:
# Select relevant dates 1st March 2020 to 31st December 2021